@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
  }

  body {
    font-family: "Niconne", cursive;
    color: var(--dark-gray);
  }

  :root {
    --primary-color: #f2c94c;
    --dark-gray: #333333;
  }

h1 {
    background-color: var(--primary-color);
    text-align: center;
    margin: auto;
    padding: 1rem;
}

.section {
    width: 80%;
    /* background-color: aqua; */
    margin: auto;
    padding: 1rem;

}

.txtInput {
    width: 70%;
    height: 20vh;
    /* background-color: rgba(255, 255, 0, 0.697); */
    padding: 1rem;
    display: block; 
    margin: 2rem 0rem;  
    font-size: 1.1rem;
}

.button {
    background-color: var(--primary-color);
    height: 65px;
    width: 170px;
    margin: 1rem 0rem;
    border: none;

}

.sample {
    font-size: large;
    margin: 1rem 0rem;
}

.output {
    min-height: 20vh;
    padding: 1rem;
    /* background-color: rgba(255, 255, 0, 0.697); */
    width: 70%;
    border: 1px solid black;
    font-size: 1.5rem;
}

.footer {
    background-color: var(--primary-color);;
    text-align: center;
    margin: 0rem 0rem;
    padding: 1rem 0rem;
}

.footer h1{
    padding: 0rem;
}

.footer-para {
    font-size: 1.2rem;
    max-width: 50%;
    margin: auto;
}